# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.swp

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
app/sdk/dist/*
dev_database/
AGENTS.md
net/repeater/repeater
doc/
app/client/web/THEME_FIX_REPORT.md
app/sdk/node_modules
app/client/web/node_modules
.opencode/*
app/client/mobile/node_modules
net/server/server
.gitignore
net/server/testdata/databag.db
app/sdk/*.tgz
net/server/internal/testdata/databag.db
